/* Make the footer padding smaller */
.footer {
   --bulma-footer-padding: 3rem 1.5rem 2rem;
}

/* Make the body take at least the full viewport height and uses flexbox to stack children vertically */
body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

/* Make the element with this class take all the available place in the body to push down the footer */
.mainContainer {
   flex: 1;
}