/* Make the body take at least the full viewport height and uses flexbox to stack children vertically */
body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

/* Make the element with this class take all the available place in the body to push down the footer */
.mainContainer {
   flex: 1;
}

.no-text-decoration {
    text-decoration: none !important;
}

/* Hide the dark theme svg in navbar when in dark mode */
[data-theme=theme-dark],
.theme-dark #svgDarkTheme {
    display: none;
}

/* Hide the light theme svg in navbar when in light mode */
[data-theme=theme-light],
.theme-light #svgLightTheme {
    display: none;
}

/* Custom and additional bulma style css */

/* [FullHeight Cards & Footer fix] */
.card.is-fullheight {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card.is-fullheight .card-footer {
    margin-top: auto;
}